aiohttp==3.9.1
aiosignal==1.3.2
annotated-types==0.7.0
anyio==3.7.1
attrs==24.2.0
Automat==25.4.16
bcrypt==4.0.1
certifi==2023.7.22
cffi==1.17.1
charset-normalizer==3.2.0
click==8.1.8
colorama==0.4.6
constantly==23.10.4
crochet==2.1.1
cryptography==44.0.2
cssselect==1.3.0
distlib==0.3.6
dnspython==2.7.0
ecdsa==0.19.1
email_validator==2.2.0
fastapi==0.104.1
filelock==3.12.2
flatbuffers==23.5.26
frozenlist==1.6.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
humanfriendly==10.0
hyperlink==21.0.0
idna==3.4
incremental==24.7.2
itemadapter==0.11.0
itemloaders==1.3.2
Jinja2==3.1.6
jmespath==1.0.1
lazy_loader==0.3
llvmlite==0.41.0
lxml==5.4.0
MarkupSafe==3.0.2
mpmath==1.3.0
multidict==6.4.3
networkx==3.1
nodeenv==1.9.1
numpy==1.25.2
outcome==1.3.0.post0
packaging==23.1
pandas==2.2.3
parsel==1.10.0
passlib==1.7.4
Pillow==10.0.1
platformdirs==3.8.0
prisma==0.10.0
propcache==0.3.1
Protego==0.4.0
protobuf==4.24.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.5.2
pydantic-settings==2.1.0
pydantic_core==2.14.5
PyDispatcher==2.0.7
pyOpenSSL==25.0.0
pyreadline3==3.4.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
pytz==2024.2
queuelib==1.8.0
requests==2.32.3
requests-file==2.1.0
rsa==4.9.1
scipy==1.11.2
Scrapy==2.11.0
selenium==4.16.0
service-identity==24.2.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
starlette==0.27.0
sympy==1.12
tifffile==2023.9.18
tldextract==5.3.0
tomlkit==0.13.2
tqdm==4.66.1
trio==0.26.2
trio-websocket==0.11.1
Twisted==22.10.0
twisted-iocpsupport==1.0.4
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.0.5
uvicorn==0.24.0
virtualenv==20.23.1
w3lib==2.3.1
webdriver-manager==4.0.1
websocket-client==1.8.0
wrapt==1.17.2
wsproto==1.2.0
yarl==1.20.0
zope.interface==7.2
